@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;

}

header {
    background-color: rgb(143, 138, 138);
    width: 100%;
     position: fixed; 
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px;


}

.logo {
    text-decoration: none;
    color: rgb(35, 37, 37);
    text-transform: uppercase;
    font-weight: 700px;
    font-size: 1.5em;

}

.navigation a {
    color: rgb(33, 44, 44);
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 500px;
    padding-left: 30px;
}

.navigation a:hover {
    color: palevioletred;
}

section {
    padding: 150px 150px;

}

.main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    background:url(images/1654170101740.jpg)no-repeat;
    background-size:cover;
    background-position:center center;
    background-attachment:fixed;
}
.main h2{
    color:white;
    font-size: 1.4em;
    font-weight: 700;
}
.main h2 span{
    display:inline-block;
    margin-top: 1px;
    color:black;
    font-size: 2em;
    font-weight: 600;
}
.main h3{
    margin-top: 1px;
    margin-bottom: 5px;
    color: white;
    font-size: 1.5em;
    font-weight: 700;
    letter-spacing: 1px;
}
.main-btn{
    color: white;
    background-color: black;
    text-decoration: none;
    font-size: 1.1em;
    font-weight: 600;
    display: inline-block;
    padding: 0.9375em 2.1875em;
    letter-spacing: 1px;
    border-radius: 15px;
    margin-bottom: 20px;
    margin-top: 20px;
    transition: 0.7s ease;
}
.main-btn:hover{
    background-color: grey;
    transform: scale(1.05);
}
.social-icons a{
    color: black;
    font-size: 1.7em;
    padding-right: 30px;
}
.titel{
    display: flex;
    justify-content: center;
    color: black;
    font-size: 2.2em;
    font-weight: 800px;
    margin-bottom: 30px;
}
.cards{
    background-color: rgba(203, 199, 201, 0.8);
}

.content {
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.card {
    background-color: black;
    width: 21.25em;
    box-shadow: 0 5px 25px rgba(1 1 1/15);
    border-radius: 10px;
    padding: 15px;
    margin: 15px;
    transition: 0.7s ease;
}
.card:hover{
    transform: scale(1.05);
    background-color: grey;
}

.icon {
    color:white;
    font-size: 8em;
    text-align: center;
}
.info {
    text-align: center;
}
.info h3 {
    color: white;
    font-size: 1.2em;
    font-weight: 700;
    margin: 10px;

}
.info p {
    color: white;
}

.projects {
    background-color: rgba(203, 199, 201, 0.8);

}
.projects.content{
    margin-top: 39px;
}
.project-card{
    background-color: white;
    border:1px solid white;
    min-height: 14em;
    width: 23em;
    overflow: hidden;
    border-radius: 10px;
    margin: 20px;
    transition: 0.7s ease;
}
.project-card:hover{
    transform: scale(1.1);
}
.project-card:hover .project-image{
    opacity: 0.9;
     
}
.project-image img{
    width: 100%;

}

.project-info{
    padding: 1em;
    color: black;
    background-color: white;
}
.project-category{
    font-size: 0.8em;
}
.project-title{
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: 800;
    margin-top: 10px;

}
.more-dedails{
    text-decoration: none;
    color:rgb(143, 138, 138);
}
.more-dedails:hover{
    color:palevioletred ;
}

.footer{
    background-color: rgb(143, 138, 138);
    color: white;
    padding: 0.5em;
    display: flex;
    justify-content: space-between;
}

.footer-title{
    font-size: 1em;
    font-weight: 600;

}

.footer-title span{
    color: black;
    font-size: 1.4em;
}
.footer .social-icons a {
    padding: 0 10px 0 0;
}

@media (max-width: 1023px) {
    header{
        padding: 12px 20px;
    }
    .navigation a{
        padding-left: 10px;
    }
    .titel{
        font-size: 1.8em;
    

    }
    .section{
        padding: 80px 20px;
    }
    .main-content h2{
        font-size: 1em;

    }
    .main{
        background-size:cover;
    }
       
    .main-content h3{
        font-size: 1.6em;
    }
    .content{
        flex-direction: column;
        align-items: center;

    }
}
@media (max-width: 641px){
    .body{
        font-size: 12px;
    }
    .main-content h2{
        font-size: 0.8em;
    }
    .main-content h3 {
        font-size: 1.4em;
    }
    .main{
        background-size:cover;
       
    }

}
@media (max-width: 300px){
    .body{
        font-size: 5px;
    }
    .main{
        background-size:cover;
        
    }
}
